.btn {
  background-color: #ff7962;
  border: none;
  border-radius: 0.6rem;
  height: 2.25rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.btn:hover {
  background-color: #ff7962;
  opacity: 70%;
}

.btn-danger {
  background-color: #bc361f;
}
