.carousel.slide {
  height: 20rem;
  overflow: hidden;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.carousel-slide {
  height: 20rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-img {
  object-fit: cover;
  min-height: 100%;
  min-width: 100%;
}
