@import "bootstrap/scss/bootstrap";
@import "Map.scss";
@import "ImageCarousel";
@import "Tables.scss";
@import "CardList";
@import "Buttons";
@import "CardCarousel";

@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");

#App {
  font-family: "Inconsolata", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: #f9f8f4;
}

.bg-body-tertiary {
  background-color: #f9f8f4 !important;
}

nav {
  position: relative;
  z-index: 1001;
}

#header-logo-wrapper {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1.2rem;

  #header-logo {
    width: 100%;
  }
}

.navbar-nav {
  .dropdown-menu {
    left: auto;
    right: 0;
    min-width: 150px;
  }
}

// Collapse Section
.collapsible-container {
  margin: 10px 0;
}

.collapsible-header {
  cursor: pointer;
  background: #f5f5f5;
  border: 1px solid #ddd;
  padding: 10px;
  font-size: 16px;
  text-align: left;
  width: 100%;
  display: flex;
  align-items: center;
}

.collapsible-icon {
  margin-right: 10px;
}

.collapsible-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  padding: 0 10px;
  border: 1px solid #ddd;
  border-top: none;
}

.collapsible-content.open {
  max-height: 1000px; /* Sätt tillräckligt stor max-höjd för att rymma innehållet */
}

@media screen and (min-width: 768px) {
  #header-logo-wrapper {
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: center;

    #header-logo {
      width: 40%;
    }
  }
}
